*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
}

.container.card{
    position: relative;
    .poster{
        position: absolute;
    }
}

.card_info{
    width: 342px;
    height: 513px;
    background-color: gray;
    text-align: center;
}